@media (max-width: 768px) {
  #parentDiv {
    display: flex;
    flex-direction: column;
  }
}

#increaseHeight{
  font-size: 70px;
}

#parentDiv{
  display: flex;
  flex-direction: row;
  gap: 80px;
}
#form-container{
  color: white;
  background-color: black;
  border-radius: 12px; 
  box-shadow: 0 0 1px #0ff, 0 0 2px #0ff, 0 0 12px rgb(0, 119, 255);
  padding: 20px;
  max-width: 400px;
  margin-left: 20px ;
}

.svg{
color: white;
}
#miniheader{
  font-size: 45px;
}

#AddExpense{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 380px;
}

.formInput{
  height: 30px;
  width: 370px;
  font-size: 16px;
}
 #submit{
  height: 30px;
  width: 330px;
  font-size: 16px;
 }

 table {
  border-collapse: collapse;
  box-shadow: 0 0 5px rgb(1, 58, 58), 0 0 10px rgb(20, 2, 44), 0 0 12px rgb(0, 89, 255);
}

th {
  background-color: #0a0f2c; 
  font-weight: bold;
  padding: 0;
  color: white;
}

td {  
  padding: 0;
  background-color: rgba(14, 0, 12, 0.6);
}
th,td{
  width: 350px;
  height: 30px;
  text-align: center;
  border: 3px solid #6cf;
  color: #fff;
  box-sizing: border-box;
}

#searchBar{
  display: flex;
  flex-direction: row;
}

#searchInput{
  height: 25px;
  width: 1265px;
  font-size: 16px;
  border-radius: 999px;
  outline: none;
  box-shadow:  0 0 5px rgb(1, 58, 58), 0 0 10px rgb(20, 2, 44), 0 0 12px rgb(0, 89, 255);
}

#tableandSearch{
  display: flex;
  flex-direction: column;
}

input{
  background-color: black;
  color: white;
}